In [9]:
import pandas as pd
import os

In [ ]:
# to change in the setup: selection, crossover, mutation, elitism (always use elitism), prem (only fps)
# for each crossover we use fixed co_p (around 0.9)
# for each mutation we use fixed mu_p (e.g. swap 0.03, inversion 0.01)
# each run N times with M generations L individuals
# N = 50, M = 2000, L = 80
# make list of N final best fitnesses of each setup
# compare average fitness,

# treat multi objective fitness as an additional problem
# use best setting of first part

In [19]:
runs_path = "../runs/"
dirs = os.listdir(runs_path)
dirs.pop(0)
for dir in dirs:
    if dir == ".DS_Store":
        continue
    runs = os.listdir(runs_path + dir)
    print(runs)



# we want to evaluate all runs of one setup
dir = dirs[1]
runs = os.listdir(runs_path + dir)
best_fitness_list = []
for run in runs:
    df = pd.read_csv(runs_path + dir + "/" +run, header=None)
    # find best fitness of last generation
    # make list of N final best fitnesses of each setup
    # compare average fitness,
    max = None
    best_fitness_list.append(max)


    # plot the best fitness across generations


    # plot all individuals fitness for each generation


    display(df)

['run-1621944313.csv']
['run-1621944337.csv', 'run-1621944346.csv']

       0                                                  1     2     3   4
0      1  [27, 7, 22, 30, 57, 45, 51, 29, 44, 8, 39, 35,...  2611  2721 NaN
1      1  [34, 57, 18, 0, 9, 70, 40, 7, 17, 66, 74, 56, ...  2534  2418 NaN
2      1  [33, 50, 10, 43, 18, 65, 41, 73, 4, 62, 55, 15...  2492  2923 NaN
3      1  [22, 46, 72, 25, 70, 12, 74, 50, 14, 3, 69, 48...  2706  3170 NaN
4      1  [3, 69, 61, 37, 63, 44, 54, 46, 24, 12, 9, 25,...  2591  2551 NaN
..   ...                                                ...   ...   ...  ..
995  100  [33, 50, 18, 38, 9, 26, 29, 7, 75, 25, 14, 72,...  2169  1703 NaN
996  100  [33, 50, 18, 38, 9, 26, 29, 7, 12, 25, 14, 72,...  2191  1835 NaN
997  100  [33, 50, 18, 38, 9, 26, 29, 7, 75, 25, 14, 72,...  2152  1645 NaN
998  100  [33, 50, 18, 40, 9, 26, 29, 7, 75, 25, 14, 72,...  2100  1690 NaN
999  100  [33, 50, 18, 38, 9, 26, 29, 7, 75, 25, 14, 72,...  2119  1651 NaN

[1000 rows x 5 columns]

       0                                                  1     2     3   4
0      1  [28, 11, 50, 67, 48, 49, 13, 36, 69, 8, 12, 2,...  2500  2326 NaN
1      1  [71, 33, 66, 38, 35, 73, 42, 74, 37, 70, 75, 6...  2540  2210 NaN
2      1  [49, 32, 54, 10, 55, 57, 50, 9, 25, 60, 33, 26...  2664  2261 NaN
3      1  [8, 18, 24, 10, 52, 5, 45, 73, 9, 37, 19, 4, 2...  2512  2893 NaN
4      1  [51, 33, 67, 74, 10, 75, 24, 69, 71, 54, 30, 5...  2603  2958 NaN
..   ...                                                ...   ...   ...  ..
995  100  [47, 7, 66, 51, 16, 73, 74, 5, 26, 70, 17, 43,...  2181  1834 NaN
996  100  [47, 7, 66, 51, 16, 73, 74, 5, 26, 70, 17, 43,...  2181  1834 NaN
997  100  [36, 7, 66, 51, 16, 73, 74, 5, 37, 70, 38, 43,...  2270  2213 NaN
998  100  [36, 24, 66, 51, 16, 73, 74, 5, 37, 70, 38, 43...  2258  2123 NaN
999  100  [36, 7, 66, 51, 16, 73, 74, 5, 37, 70, 38, 43,...  2302  2103 NaN

[1000 rows x 5 columns]

In [8]:
df = pd.read_csv("../multi_objective_dominant-cycle_co-swap_mutation-100-0.8-0.5-False-False-1621941911.csv", header=None)
display(df)

       0                                                  1     2
0      1  [4, 53, 35, 30, 54, 72, 18, 11, 14, 17, 3, 20,...  2798
1      1  [62, 0, 69, 7, 51, 73, 57, 39, 12, 23, 11, 10,...  2536
2      1  [0, 19, 58, 2, 33, 34, 64, 30, 8, 32, 60, 59, ...  2626
3      1  [6, 26, 36, 37, 29, 28, 69, 73, 32, 70, 62, 20...  2598
4      1  [44, 0, 75, 69, 55, 66, 50, 28, 40, 52, 26, 17...  2680
..   ...                                                ...   ...
995  100  [58, 10, 1, 6, 28, 45, 67, 14, 33, 24, 62, 49,...  2253
996  100  [58, 10, 1, 6, 28, 45, 7, 67, 33, 24, 62, 49, ...  2223
997  100  [58, 10, 1, 6, 28, 72, 7, 67, 33, 24, 62, 49, ...  2275
998  100  [58, 10, 1, 6, 28, 45, 67, 14, 33, 24, 62, 49,...  2256
999  100  [58, 10, 1, 6, 28, 45, 7, 67, 33, 24, 62, 49, ...  2285

[1000 rows x 3 columns]